<footer class="bg-neutral-200 text-center dark:bg-neutral-700 lg:text-left">
  <div class="footer">
    <div class="text-2xl">LOGO</div>
    <div class="flex flex-col justify-start items-center">
      <a href="https://www.youtube.com/watch?v=y-sqDi4cgdI&pp=ygUX6r2D7J20IO2UvOqzoCDsp4Drk6_snbQ%3D">youtube</a><br>
      <a href="https://opentutorials.org/course/1">생활코딩</a><br>
      <a href="https://github.com/kimhanbyel">출처</a>
      © 2023 Copyright:<a
      href="https://ibucheon.hs.kr/"
      >Bucheon Infomation Industry High School</a>
    </div>
  </div>
</footer>
<style>
  .footer{
    display: flex;
    background: #428b55;
    padding:30px;
  }
  .footer > div:first-child {
    flex:3;
    text-align: center;
    color: #5a2f2f;
  }
  .footer > div:last-child {
    flex:9;
    color: #5a2f2f;
  }
  
</style>